# ==========================================
# Application
# ==========================================
NODE_ENV=development
PORT=5000

# ==========================================
# Database
# ==========================================
MONGO_URI=mongodb://localhost:27017/mosm

# ==========================================
# JWT
# ==========================================
JWT_ACCESS_SECRET=your_access_secret
JWT_ACCESS_EXPIRES=15m

JWT_REFRESH_SECRET=your_refresh_secret
JWT_REFRESH_EXPIRES=30d

# ==========================================
# Firebase
# ==========================================
FIREBASE_PROJECT_ID=

FIREBASE_CLIENT_EMAIL=

FIREBASE_PRIVATE_KEY=

# ==========================================
# CORS
# ==========================================
CORS_ORIGIN=http://localhost:3000